body {
  margin: 8%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px;
  border: 1px solid #ccc;
}

.page-header {
  font-family: Montserrat, sans-serif;
  margin: 0px;
  padding: 0px;
  text-align: center;
  border: none;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 16pt;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.page-header h1 {
  font-size: 24pt;
  font-weight: bold;
}

h2{
  font-family: Montserrat, sans-serif;
  margin-top: 0px;
  font-size: 12pt;
  color: #555;
}

.page-header .container-fluid {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 9pt;
  color: #aaa;
  text-transform: uppercase;
}

.navbar-default {
  font-family: Montserrat, sans-serif;
  background-color: #fff;
  border: 0px;
}

.navbar-header button {
  margin: 0px;
  margin-bottom: 15px;
  width: 100%;
}

/* #ca5 */
.navbar-default ul.nav-pills li a{
  font-size: 10pt;
  color: #888;
}

/* #f7e7c7 */
.navbar-default ul.nav-pills li a:hover{
  background-color: #eee;
}

/* #ca5 */
.navbar-default ul.nav-pills li.active a {
  background-color: #888;
  color: #fff;
}

#splash-img {
  padding-top: 0px;
  padding-bottom: 40px;
}

#stjb-notice {
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}

#stjb-staff, #stjb-about {
  padding: 30px;
}

#stjb-notice, #stjb-staff {
  border: solid 1px #ccc;
}

#stjb-notice {
  background-color: #c7f7e7;
}

#stjb-staff small p {
  margin: 0px;
  font-size: 8pt;
}

#bmap{
margin: 40px;
}
